{% extends 'layout.html' %}
{% block content %}

{% include 'menu.html' %}
<img class="header" src="/static/images/whats-coming-header.png" alt="What's Coming"/>

<div class="whats-coming clearfix">
    {% if items %}
    <div class="intent">a thousand ways to share empathy, forgiveness and love, and here's where you can find some of them...</div>
    {% for item in items %}
    <div class="item"><img src="{{ MEDIA_URL }}{{ item.image }}" alt="{{ item.caption }}"/></div>
    {% endfor %}
    {% else %}
    <div class="no-items">Nothing has been posted yet. Please check back soon!</div>
    {% endif %}
</div>

{% include 'footer.html' %}

{% endblock %}
