{% extends 'layout.html' %}
{% block content %}

{% include 'menu.html' %}
<img class="header" src="/static/images/whats-coming-header.jpg" alt="What's Coming"/>

<div class="whats-coming clearfix">
    {% if items %}
    <div class="intent">Following where love leads and sharing...</div>
    {% for item in items %}
    <div class="item hover">
        <img src="{{ MEDIA_URL }}{{ item.image }}" alt="{{ item.caption }}"/>
        <div class="caption"><span>{{ item.caption }}</span></div>
        <div class="pinterest">
            <a href="https://www.pinterest.com/pin/create/button/?media={{ MEDIA_URL }}{{ item.image }}"
               data-pin-do="buttonPin"
               data-pin-media="{{ item.permalink }}"
               data-pin-description="{{ item.caption }}"
               data-pin-shape="round">
                <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
            </a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="no-items">Nothing has been posted yet. Please check back soon!</div>
    {% endif %}
</div>

{% include 'footer.html' %}

<script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>

{% endblock %}
