{% extends 'layout.html' %}
{% block content %}

{% include 'menu.html' %}
<img class="header" src="/static/images/cool-stuff-header.jpg" alt="Cool Stuff"/>

<div class="cool-stuff">
    <div class="topic clearfix align-left">
        <div class="header">
            <span>Empathy</span>
        </div>
        <a href="/static/media/EMPATHY-Five_Misunderstandings.pdf">
            <img src="/static/images/cool-stuff-empathy.jpg" alt="Empathy"/>
        </a>
        <ul class="simple-list">
            <li class="item">
                <a href="/static/media/EMPATHY-Five_Misunderstandings.pdf" target="_blank">Five New Definitions of Empathy</a>
                <span class="description">If you think empathy means being sad and sensitive, here are five new ideas that make it easy and enjoyable.</span>
            </li>
            <li class="item">
                <a href="/static/media/EMPATHY-I_Am_Willing_To_Feel_With_You.tiff">Color Me Empathy</a>
                <span class="description">"I am WILLING to feel with you"<br/>Bring this coloring page to life with the colors of EMPATHY.</span>
            </li>
            <li class="item">
                <a href="https://storycorps.org/animation/julio-diaz/" target="_blank">Story: Julio Diaz</a>
                <span class="description">Julio Diaz, a social worker, was returning home to the Bronx after a long day at work. Just after he got off the train, a teenager held him up at knifepoint.</span>
            </li>
        </ul>
    </div>

    <div class="topic clearfix align-right">
        <div class="header">
            <span>Forgiveness</span>
        </div>
        <a href="/static/media/FORGIVENESS-Five_Beliefs.pdf">
            <img src="/static/images/cool-stuff-forgiveness.jpg" alt="Forgiveness"/>
        </a>
        <ul class="simple-list">
            <li class="item">
                <a href="/static/media/FORGIVENESS-Five_Beliefs.pdf" target="_blank">Five New Definitions of Forgiveness</a>
                <span class="description">If you think being forgiving means being weak, read<br/> these five new ideas about its true power.</span>
            </li>
            <li class="item">
                <a href="/static/media/FORGIVENESS-The_Peace_I_Want_I_Find_In_Forgiveness.tiff">Color Me Forgiveness</a>
                <span class="description">"The peace I want I find in FORGIVENESS"<br/>Make this coloring page a beautiful reminder of forgiveness.</span>
            </li>
            <li class="item">
                <a href="https://storycorps.org/listen/mary-johnson-and-oshea-israel/" target="_blank">Story: Mary Johnson & Oshea Israel</a>
                <span class="description">"I just hugged the man who murdered my son."<br/>Mary Johnson shows the true meaning of forgiveness.</span>
            </li>
        </ul>
    </div>

    <div class="topic clearfix align-left">
        <div class="header">
            <span>Love</span>
        </div>
        <a href="/static/media/LOVE-Five_Ideas.pdf">
            <img src="/static/images/cool-stuff-love.jpg" alt="Love"/>
        </a>
        <ul class="simple-list">
            <li class="item">
                <a href="/static/media/LOVE-Five_Ideas.pdf" target="_blank">Five New Definitions of Love</a>
                <span class="description">There are so many ways to misunderstand love. I've shared five ideas that will help you make it more real in your life.</span>
            </li>
            <li class="item">
                <a href="/static/media/LOVE-I_Enter_Love_From_Within_Myself.tiff">Color Me Love</a>
                <span class="description">"Enter LOVE from within yourself"<br/>What does love look like? That depends on what you do with this coloring page!</span>
            </li>
            <li class="item">
                <a href="https://storycorps.org/animation/she-was-the-one/" target="_blank">Story: She Was The One</a>
                <span class="description">When Richie Pecorella met Karen Juday, she captured his heart and changed his life.</span>
            </li>
        </ul>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}
