{% extends 'layout.html' %}
{% block content %}

<img class="site-title" src="/static/images/title.png" alt="Ardyn Rose Wyatt"/>
{% include 'menu.html' %}

<img class="header" src="/static/images/home-header.jpg" alt="Home"/>

<div class="home clearfix">
    <div class="intent">Are you ready for the joy that empathy, forgiveness and love will bring?</div>
    <div class="row">
        <a class="column" href="/about">
            <div class="hover">
                <img src="/static/images/about-link.jpg" alt="About"/>
                <div class="caption"><span>Real Life</span></div>
            </div>
            <span>about</span>
        </a>
        <a class="column" href="/journal">
            <div class="hover">
                <img src="/static/images/journal-link.jpg" alt="Journal"/>
                <div class="caption"><span>Real Life in Real Time</span></div>
            </div>
            <span>journal</span>
        </a>
        <a class="column" href="/cool-stuff">
            <div class="hover">
                <img src="/static/images/cool-stuff-link.jpg" alt="Cool Stuff"/>
                <div class="caption"><span>Imagine Better</span></div>
            </div>
            <span>cool stuff</span>
        </a>
    </div>
    <div class="row">
        <a class="column" href="/whats-coming">
            <div class="hover">
                <img src="/static/images/whats-coming-link.jpg" alt="What's Coming"/>
                <div class="caption"><span>Ideas and Inspiration</span></div>
            </div>
            <span>what's coming</span>
        </a>
        <a class="column" href="/static/media/The best idea God ever had.pdf" target="_blank">
            <img style="border: 0 !important" src="/static/images/best-idea-link.png" alt="The best idea God ever had"/>
        </a>
        <a class="column" href="/book">
            <div class="hover">
                <img src="/static/images/book-link.jpg" alt="Book"/>
                <div class="caption"><span>My Story</span></div>
            </div>
            <span>book</span>
        </a>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}
