{% extends 'layout.html' %}
{% block content %}
{% load tagging_tags %}

{% include 'menu.html' %}
<img class="header" src="/static/images/about-header-with-text.png" alt="About"/>

<h1>About Me</h1>
<div class="about">
    {% if photos %}
    <ul class="photos simple-list">
        {% for photo in photos %}
        <li><img src="{{ MEDIA_URL }}{{ photo }}"/></li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="moments">
        {% if moments %}
        {% for moment in moments %}
        <p><span class="date">{{ moment.when|date:"F jS, Y" }}.</span> {{ moment.what|safe }}</p>
        {% endfor %}
        {% else %}
        <div class="empty">No moments have been recorded. Please check back soon!</div>
        {% endif %}
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}
