body {
    background-color: #ffffff;
    /*background-color: #f5f5f0;*/
}

.journal .post,
.book .excerpt {
    background-color: #f5f5f0;
    /*background-color: #ffffff;*/
}

/* ----- html elements ----- */

html {
    font-family: 'Pavanam', sans-serif;
    font-size: 1.5em;
}

input, button {
    font-family: 'Pavanam', sans-serif;
    font-size: 1em;
}

body {
    padding: 0;
    margin: 0;
}

input {
    padding: 0 5px;
}

div, ul, form {
    /*border: 1px #000 dashed;*/
}

/* ----- utility classes ----- */

.simple-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.horizontal-list {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.horizontal-list li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.bordered-list li:after {
    content: '\2218';
    padding: 0 5px;
}

.bordered-list li:last-child:after {
    content: '';
    padding: 0;
}

.centered {
    text-align: center;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* ----- structural elements ----- */

.content {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.site-title {
    display: block;
    text-align: center;
    height: 150px;
    width: 500px;
    padding: 0;
    margin: 0 auto 20px auto;
}

.menu {
    text-align: center;
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    font-size: 2em;
    border-top: 2px #000 solid;
    border-bottom: 2px #000 solid;
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.social-links {
    text-align: center;
}

.social-links img {
    width: 30px;
    height: 30px;
}

img.header {
    display: block;
    text-align: center;
    width: 1200px;
    margin: 20px auto 20px auto;
    border: 1px #000 solid;
}

.newsletter {
    display: block;
    text-align: center;
    font-size: 75%;
    padding: 10px 50px;
    margin: 10px 0;
    border-top: 2px #000 solid;
    border-bottom: 2px #000 solid;
}

.newsletter input {
    margin: 0 10px;
}

.legal {
    text-align: center;
    font-size: 50%;
}

.home .column {
    display: block;
    float: left;
    text-align: center;
    margin: 0;
    text-decoration: none;
    padding: 0;
    color: #000;
    font-weight: bold;
}

.home .column:first-child {
    margin-left: 0;
    margin-right: 19px;
}

.home .column:last-child {
    margin-right: 0;
    margin-left: 19px;
}

.home img {
    border: 1px #000 solid;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.home img.borderless {
    border: 0;
    box-shadow: none;
}

.home span {
    display: block;
    font-family: "Open Sans Condensed", sans-serif;
    margin: -5px 0 5px 0;
    padding: 0;
}

.timeline .date {
    font-weight: bold;
}

.journal .navigation {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.journal .navigation .tag {
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-size: 125%;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px #000 solid;
    margin-bottom: 5px;
}

.journal .navigation .tags > li {
    margin-top: 20px;
}

.journal .navigation .tags > li:first-child {
    margin-top: 0;
}

.journal .navigation a {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}
.journal .navigation a:hover {
    font-weight: bold;
}

.journal .posts {
    display: inline-block;
    width: 945px;
}

.journal .post {
    border: 1px #000 solid;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    padding: 20px;
    margin-bottom: 30px;
}

.journal .post .header {
    display: block;
    font-family: "Amatic SC", cursive;
    letter-spacing: 2px;
    color: #000;
    border-bottom: 2px #000 solid;
}
.journal .post .title {
    display: inline-block;
    width: 75%;
    font-weight: bold;
    font-size: 200%;
}

.journal .post .date {
    display: inline-block;
    width: 24%;
    text-align: right;
    font-size: 150%;
}

.cool-stuff .topic {
    margin: 20px 0;
    border-top: 2px #000 solid;
    padding: 20px 0 0 0;
}

.cool-stuff .topic img {
    width: 600px;
    height: 300px;
    border: 1px #000 solid;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.cool-stuff .topic a {
    text-decoration: none;
}

.cool-stuff .topic .item {
    padding: 0 20px 20px 20px;
}

.cool-stuff .topic .item .description {
    display: block;
    font-size: 75%;
}

.cool-stuff .align-left      { text-align: left; clear: both; }
.cool-stuff .align-left ul   { margin-left: 600px; }
.cool-stuff .align-left img  { float: left; }
.cool-stuff .align-left a    { clear: left; }
.cool-stuff .align-right     { text-align: right; clear: both; }
.cool-stuff .align-right ul  { margin-right: 600px; }
.cool-stuff .align-right img { float: right; }
.cool-stuff .align-right a   { clear: right; }

.book .excerpt {
    margin: 0 20px;
    padding: 0 20px;
    font-style: italic;
    border: 1px #000 solid;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}