{% extends 'layout.html' %}
{% block content %}

{% include 'menu.html' %}
<img class="header" src="/static/images/about-header.png" alt="About"/>

<h1>About Me</h1>
<div class="timeline">
    <p><span class="date">1959.</span> Born sixth of six children - all under the age of six - the "quiet" half of an identical set.</p>
    <p><span class="date">1968.</span> Learn to say "r's" like "r's" instead of "w's".</p>
    <p><span class="date">1972.</span> Get special assignments in 8th-grade art class because I'm a natural.</p>
    <p><span class="date">1975.</span> Father promoted and family moves to Honolulu. Ninth move, fourth state, third high school. Realize I'm the ugly twin. Introduced to Jane Austen, Louise May Alcott and the Bronte sisters.</p>
    <p><span class="date">1976.</span> Start college at Brigahm Young University.</p>
    <p><span class="date">December 1979.</span> Marry in Mormon temple "for time and all eternity". I'm 20.</p>
    <p><span class="date">August 1980.</span> Get stretch marks.</p>
    <p><span class="date">October 1980.</span> Fall in love for the first time, with an 8 lb. miracle. I name her Erin.</p>
    <p><span class="date">August 1981.</span> Graduate from college with a B.S. in Sociology.</p>
    <p><span class="date">March 1983.</span> Fall in love again - with an 8 lb. 6 oz. miracle. I name her Emrie.</p>
    <p><span class="date">1984.</span> Introduced to Ayn Rand, Sylvia Plath and Anne Morrow Lindbergh.</p>
    <p><span class="date">1986.</span> Start pottery class at local community college and make first non-church friends. Realize the love in my life is happening with my daughters, not at church.</p>
    <p><span class="date">1988.</span> Start graduate degree in Social Work. Stop attending church. File for divorce. Introduced to Joseph Campbell, C.W. Jung and Melanie Beattie.</p>
    <p><span class="date">1988.</span> Discover sex.</p>
    <p><span class="date">1990.</span> Complete MSW. Move 'home' to California to find job and raise daughters.</p>
    <p><span class="date">1991.</span> Meet Al.</p>
    <p><span class="date">1997.</span> Run San Francisco Marathon in 4:14. Introduced to Carolyn Myss, Clarissa Pinkola Estes, Toni Morrison and Neale Donald Walsh.</p>
    <p><span class="date">1999.</span> Meet Mother Meera.</p>
    <p><span class="date">November 2000.</span> Say good-by to Al after 9+ years of drama, lies, love, manipulation, confusion, sex and learning.</p>
    <p><span class="date">October 17, 2001.</span> Answer the door when Al comes asking for my help.</p>
    <p><span class="date">October 24, 2001.</span> X-ray shows a mass in Al's left frontal lobe. I forgive Al and commit to stay with him no matter what.</p>
    <p><span class="date">December 10, 2001.</span> Emergency surgery confirms a brain tumor. I leave my job as director of a non-profit to care for him.</p>
    <p><span class="date">Spring 2002.</span> Introduced to my Infinite Self. Remember the beauty that I am.</p>
    <p><span class="date">July 13, 2002.</span> Al dies.</p>
    <p><span class="date">July 2002.</span> Introduced to Kabbalah, Paulo Coelho, yoga, Pema Chodron, Buddhism, Bill Bryson, Rumi, Karen Armstrong, meditation, Gnosticism, John Kabat Zinn, body/energy work, Robert Monroe and more. Learn which practices help me return to the experience "I am Beauty".</p>
    <p><span class="date">Fall 2008.</span> Begin writing my story. Decide to call it "Making Love".</p>
    <p><span class="date">Spring 2009.</span> Paint first portrait in oils.</p>
    <p><span class="date">July 2011.</span> Self-publish "Making Love" and give copies to friends and family.</p>
    <p><span class="date">January 2012.</span> Decide to keep writing and creating in hopes of reaching other women.</p>
    <p><span class="date">June 2012.</span> Launch website.</p>
</div>

{% include 'footer.html' %}

{% endblock %}
