{% extends 'layout.html' %}
{% block content %}

{% include 'menu.html' %}
<img class="header" src="/static/images/book-header-with-text.png" alt="Book"/>

<div class="book">
    <p>The first draft is complete, I'm working with an editor and a second draft close to completion. No decision yet
        whether to self-publish or focus my efforts on the traditional route, but that will become clear as I work each
        step. My ultimate goal is to get it into the hands of readers - that's you.</p>
    <p>I'll keep you posted. In the meantime, here's an excerpt from the book's introduction:</p>
    <div class="excerpt">
        <p>My dear daughters,</p>
        <p>When you were new and unbruised, and you trusted me because you knew nothing else, I
            made you a promise. I was unformed and unloved and felt the breadth and depth of that fact
            every time you accepted me in your innocence. I knew I didn't know, and yet you were here,
            counting on me. And so, I made promise to you in my heart.</p>
        <p>Now you're grown women with families of your own. You've both forgiven me countless times
            and have taken responsibility for the quality and direction of your lives. I see so much beauty in
            each of you, your courage and wisdom, your strength and belief in goodness.</p>
        <p>In the last months I've had a misunderstanding with each of you, so incidental, yet the moments
            of disconnection exposed an untouched error somewhere inside me, a shame and a wound I
            didn't know was there. So it's time for me to keep my promise.</p>
        <p>Because whenever I discover something in myself that hurts you, threatens our loving
            understanding, I take responsibility. I learn what I need to learn, and do what I need to do to
            make it right. Because I'm the mom and that's what moms do.</p>
        <p>I know I can't determine your own truth for you. I'll do all I can and you'll still have the freedom
            and challenge of your own experience, your own truth. I can live with that. What I can't live with
            is the idea that there may be something I could say, or some action I could take, that would heal
            the hidden disconnect, and that I haven't done my part; that in words unspoken or feelings
            unexpressed, the truth of our relatedness would remain unacknowledged.</p>
        <p>And so, I'm writing you this letter. Because in my silence a misunderstanding might have the
            chance to thrive; a wrong, a blame or a guilt may live on, unexposed. I will show you what I see,
            embedded in moments of my life, moments of metaphor and meaning. These are my memories,
            the ones that rise up in my awareness in high relief when I open my mind to ideas about love, its
            absence and its emergence. Yes, this is a love story, because that was my promise to you, that
            you would know love. And today I'm keeping my promise.</p>
    </div>
    <p>Empathy, forgiveness, love....</p>
</div>

{% include 'footer.html' %}

{% endblock %}
