{% extends 'layout.html' %}
{% block content %}

{% include 'menu.html' %}
<img class="header" src="/static/images/cool-stuff-header.png" alt="Cool Stuff"/>

<div class="cool-stuff">
    <div class="topic clearfix align-left">
        <img src="/static/images/cool-stuff-empathy.png" alt="Empathy"/>
        <ul class="simple-list">
            <li class="item">
                <a href="/static/media/EMPATHY-Five_Misunderstandings.pdf">Five Misunderstandings</a>
                <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
            <li class="item">
                <a href="/static/media/EMPATHY-I_Am_Willing_To_Feel_With_You.tiff">Color Me Empathic</a>
                <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
            <li class="item">
                <a href="https://storycorps.org/animation/julio-diaz/">Julio Diaz</a>
                <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
        </ul>
    </div>

    <div class="topic clearfix align-right">
        <img src="/static/images/cool-stuff-forgiveness.png" alt="Forgiveness"/>
        <ul class="simple-list">
            <li class="item">
                <a href="/static/media/FORGIVENESS-Five_Beliefs.pdf">Five Beliefs</a>
                <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
            <li class="item">
                <a href="/static/media/FORGIVENESS-The_Peace_I_Want_I_Find_In_Forgiveness.tiff">Color Me Forgiven</a>
                <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
            <li class="item">
                <a href="https://storycorps.org/listen/mary-johnson-and-oshea-israel/">Mary Johnson & Oshea Israel</a>
                <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
        </ul>
    </div>

    <div class="topic clearfix align-left">
        <img src="/static/images/cool-stuff-love.png" alt="Love"/>
        <ul class="simple-list">
            <li class="item">
                <a href="/static/media/LOVE-Five_Ideas.pdf">Five Ideas</a>
                <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
            <li class="item">
                <a href="/static/media/LOVE-I_Enter_Love_From_Within_Myself.tiff">Color Me Loved</a>
                <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
            <li class="item">
                <a href="https://storycorps.org/animation/she-was-the-one/">She Was The One</a>
                <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
            </li>
        </ul>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}
