<div class="newsletter">
    <div id="mc_embed_signup">
    <form action="//ardynrosewyatt.us14.list-manage.com/subscribe/post?u=68cd22cd88fcdca22149eb578&amp;id=a0d0a3d7c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <label for="mce-EMAIL">Be the first to get information and inspiration!</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="hidden" name="b_68cd22cd88fcdca22149eb578_a0d0a3d7c9" tabindex="-1" value="">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </form>
    </div>
</div>

<ul class="legal horizontal-list bordered-list">
    <li>Copyright 2016 Ardyn Rose Wyatt</li><!--
 --><li>All rights reserved</li><!--
 --><li>Site created by <a href="http://arabellan.org">Ryan Zander</a></li><!--
 --><li><a href="/static/privacy-policy">Privacy Policy</a></li><!--
 --><li><a href="/static/terms-of-service">Terms of Service</a></li>
</ul>
