<form class="newsletter" method="post" action="/newsletter">
    <label for="email">Be the first to get information and inspiration!</label>
    <input id="email" name="email" type="email" />
    <button type="submit">Sign-up</button>
</form>

<ul class="legal horizontal-list bordered-list">
    <li>Copyright 2016 Ardyn Rose Wyatt</li><!--
 --><li>All rights reserved</li><!--
 --><li>Site created by <a href="mailto:exide@hotmail.com">Ryan Zander</a></li><!--
 --><li><a href="/static/privacy-policy">Privacy Policy</a></li><!--
 --><li><a href="/static/terms-of-service">Terms of Service</a></li>
</ul>
