{% extends 'layout.html' %}
{% block content %}

<img class="site-title" src="/static/images/title.png" alt="Ardyn Rose Wyatt"/>
{% include 'menu.html' %}
<!--{% include 'social-links.html' %}-->

<img class="header" src="/static/images/home-header.png" alt="Home"/>

<div class="home clearfix">
    <div class="row">
        <a class="column" href="/about">
            <img src="/static/images/about-link.png" alt="About"/>
            <span>about</span>
        </a>
        <a class="column" href="/journal">
            <img src="/static/images/journal-link.png" alt="Journal"/>
            <span>journal</span>
        </a>
        <a class="column" href="/cool-stuff">
            <img src="/static/images/cool-stuff-link.png" alt="Cool Stuff"/>
            <span>cool stuff</span>
        </a>
    </div>
    <div class="row">
        <a class="column" href="/whats-coming">
            <img src="/static/images/whats-coming-link.png" alt="What's Coming"/>
            <span>what's coming</span>
        </a>
        <a class="column" href="/static/media/The best idea God ever had.pdf">
            <img class="borderless" src="/static/images/best-idea-link.png" alt="The best idea God ever had"/>
        </a>
        <a class="column" href="/book">
            <img src="/static/images/book-link.png" alt="Book"/>
            <span>book</span>
        </a>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}
