{% extends 'layout.html' %}
{% block content %}

{% include 'menu.html' %}
<img class="header" src="/static/images/journal-header.png" alt="Journal"/>

<div class="journal">

    <div class="navigation">
        <ul class="tags simple-list">
            {% for tag in tags %}
            <li class="popout">
                <span class="tag">{{ tag.name }}</span>
                <ul class="simple-list">
                    {% for post in tag.posts %}
                    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="posts">

        {% if posts %}
            {% for post in posts %}
            <div class="post">
                <a class="header clearfix" href="{{ post.get_absolute_url }}">
                    <span class="title">{{ post.title }}</span><!--
                 --><span class="date">{{ post.created|date:"F jS, Y" }}</span>
                </a>
                <p class="body">{{ post.content|truncatewords_html:50|safe }}</p>
            </div>
            {% endfor %}
        {% else %}
            <div class="post centered">Nothing has been written in the journal yet. Please check back later!</div>
        {% endif %}

    </div>
</div>

{% include 'footer.html' %}

{% endblock %}
