{% extends 'layout.html' %}
{% block content %}

{% include 'menu.html' %}
<img class="header" src="/static/images/journal-header.png" alt="Journal"/>

<div>
    <h1>Forgiven: A True Story</h1>
    <div>August 23, 2015</div>
    <img src=""/>
    <div class="prose">
        <p>I'm on a second draft of my self-published book "Making Love". I've changed the title to "Forgiven: A True Story About True Love " and I like what it's evolving into. If someone asks what it's about, here's what I'll say:</p>
        <p>"I've, I've fallen off the top. If I make things...right with you...everything will be O.K." Al sat across from me, earnestly beseeching my help. Al, the lover who had manipulated, betrayed, belittled and abused me for nearly ten years. I'd left him a year ago, but he'd come to find me, weak on the left side of his body and struggling to produce full sentences. He was in real trouble, and I had a decision to make.</p>
        <p>Forgiven is a letter to my daughters chronicling the events that facilitated the unfolding of my spiritual understanding. It's an account of my departure from the cloistered culture of the Mormon church and my quest for freedom from my family's generational wounds. It's an exposition of the soulless systems I encountered as a naive, single mother, and my attempts to negotiate them with integrity. It's a story about my love relationships with my daughters, my twin sister and my husband Al, and about the life-changing opportunity he offered me. Ultimately, it's a love story celebrating the challenges and choices that lead me to experience the truth about myself and a reunion with my God.</p>
        <p>Forgiveness is the act of acknowledging and referencing the connective tissue of mystical union, an act of faith that stands witness to the body of our commonly held consciousness. When we choose to forgive another, we claim our identity as God's offspring and call to our experience the gifts of heaven, gifts that heal and inform us. In God's eyes we already exist in perfect, loving union. When we forgive we access this truth directly, weakening the grip of our ego and bringing our true identity closer to our conscious awareness.</p>
        <p>My ability to forgive forms the bridge that lifts me from the confusion and pain of a conflicted world, to peace and communion with God. As I've turned my mind and heart, choice by choice, toward the God within me and a love that includes, my perception has expanded. The practice of forgiveness exposes my true identity, thinning my attachment to judgement and separation, and deepening my relationship with unifying love, grace and guidance. My identity evolves from ideas about my self to a state of being my Self; from, "Oh, now I get it!" to, "Oh, now I'm being it!"</p>
        <p>This new identity can't be comprehended, only practiced. It's a stance of willingness toward God, a state of openness, non-judgment and humility. We ask what our soul needs to ask, then listen, forgiving whatever may get in the way. We then rest in quiet certainty, listening once again. With the practices of forgiving and listening we come to know Inclusive Love as our context and our true nature, experiencing others, and ourselves, as forgiven.</p>
    </div>
</div>

<ul class="centered horizontal-list">
    <li><a href="">Like</a></li>
    <li><a href="">Tweet</a></li>
</ul>

{% include 'footer.html' %}

{% endblock %}
