{% extends 'layout.html' %}
{% block content %}

{% include 'menu.html' %}
<img class="header" src="/static/images/journal-header.png" alt="Journal"/>

<div class="journal">

    <div class="navigation">
        <ul class="tags simple-list">
            <li>
                <span class="tag">empathy</span>
                <ul class="simple-list">
                    <li><a href="">Forgiven: A True Story</a></li>
                    <li><a href="">Ideas of Love</a></li>
                    <li><a href="">Silent Night</a></li>
                </ul>
            </li>
            <li>
                <span class="tag">forgiveness</span>
                <ul class="simple-list">
                    <li><a href="">Dear Mr. President</a></li>
                    <li><a href="">I Choose Better</a></li>
                    <li><a href="">Forgiveness</a></li>
                </ul>
            </li>
            <li>
                <span class="tag">love</span>
                <ul class="simple-list">
                    <li><a href="">My Dear Daughter(s)</a></li>
                    <li><a href="">What We're Made Of</a></li>
                    <li><a href="">The Creek and the Stars</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="posts">

        {% if posts %}
            {% for post in posts %}
            <div class="post">
                <a class="header clearfix" href="{{ post.get_absolute_url }}">
                    <span class="title">{{ post.title }}</span><!--
                 --><span class="date">{{ post.created|date:"F jS, Y" }}</span>
                </a>
                <img class="image" src="/{{ post.image }}" alt="{{ post.title }}"/>
                <p class="body">{{ post.content|truncatewords_html:50|safe }}</p>
            </div>
            {% endfor %}
        {% else %}
            <div class="post centered">Nothing has been written in the journal yet. Please check back later!</div>
        {% endif %}

    </div>
</div>

{% include 'footer.html' %}

{% endblock %}
