<ul class="local horizontal-list bordered-list">
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/journal">journal</a></li>
    <li><a href="/good-stuff">good stuff</a></li>
</ul>
<ul class="remote horizontal-list">
    <li><a href="https://www.pinterest.com/ardynrwyatt/"><img src="" alt="Pinterest"/></a></li>
    <li><a href="https://www.facebook.com/pages/Ardyn-Rose-Wyatt"><img src="" alt="Facebook"></a></li>
    <li><a href="https://twitter.com/iamarosewyatt/"><img src="" alt="Twitter"></a></li>
    <li><a href="http://ardynrosewyatt.com/rss/"><img src="" alt="RSS"></a></li>
</ul>
