{% extends 'modal.html' %}
{% block content %}

<form method="POST" action="http://www.mailchimp.com/3.0/lists/1234567890abcdef/members/">
    <fieldset>
        <label for="email_address">E-mail address:</label>
        <input id="email_address" type="email"/>
    </fieldset>
    <fieldset>
        <label for="first_name">First name:</label>
        <input id="first_name" type="text"/>
    </fieldset>
    <fieldset>
        <label for="last_name">Last name:</label>
        <input id="last_name" type="text"/>
    </fieldset>
</form>

{% endblock %}
