{% extends 'layout.html' %}
{% load tagging_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
<meta property="og:url" content="{{ post.permalink }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ post.title }}"/>
<meta property="og:image" content="/{{ post.image }}"/>
<meta property="og:description" content="{{ post.content|striptags|truncatewords:20 }}"/>
{% endblock %}

{% block content %}

{% include 'menu.html' %}

<div class="journal">
    <div class="post">
        <a class="header clearfix" href="">
            <span class="title">{{ post.title }}</span><!--
         --><span class="date">{{ post.created|date:"F jS, Y" }}</span>
        </a>
        <div class="tags">
            {% tags_for_object post as tag_list %}
            tags:
            {% for tag in tag_list %}
                <a href="/journal/tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <img class="image" src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }}"/>
        <p class="body">{{ post.content|safe }}</p>
        <ul class="social-links centered horizontal-list">
            <li>
                <div class="fb-share-button"
                     data-href="{{ post.permalink }}"
                     data-layout="button"
                     data-size="large"
                     data-mobile-iframe="false">
                    <a class="fb-xfbml-parse-ignore" target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u={{ post.permalink|urlencode:'' }}&amp;src=sdkpreparse">
                        Share
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a class="twitter-share-button"
                       href="https://twitter.com/intent/tweet?text=Ardyn%20Rose%20Wyatt -- {{ post.title|urlencode:'' }}"
                       data-size="large">
                        Tweet
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

{% include 'footer.html' %}

<!-- FACEBOOK JS -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=538042566291274";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- TWITTER JS -->
<script>window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    t._e = [];
    t.ready = function (f) {
        t._e.push(f);
    };
    return t;
}(document, "script", "twitter-wjs"));</script>

{% endblock %}
